//executor="slurm" 
executor="local" 

procs="1" 
walltime="24:00:00"
memory="16"

commands {
    local {
        executor="local" 
    }
    strling {
        walltime="04:00:00"
        memory="8"
    }
    merge {
        walltime="48:00:00"
        memory="120"
    }
    joint_call {
        walltime="24:00:00"
        memory="24"
    }

}
